.list{
    display: flex;
}

.item{
    a{
        display: inline-block;
        padding: 25px;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        font-size: 16px;
        &:hover{
            border-color:#383BCF
        }  
    }

    &.active{
        a{
            border-color:#383BCF;
            font-weight: 600;
            color:#383BCF
        }
        
    }
}

.navigtion-component{
    background: #fff
}