.author{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.author__title{
    color: rgba($dark, .5);
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 25px;
}

.author__name{
    font-size: 72px;
    font-weight: 800;
    color: $dark;
    max-width: 430px;
    line-height: 60px
}