.footer__socials-icon{
    width: 21px;
    fill: rgba(#fff, .3)
}

.footer__socials-list{
    display: flex;
    column-gap: 21px
}

.footer__socials-link{
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 50px;
    border: 1px solid rgba(#fff, .3)
}
