.hero__container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 15px 20px;

    @include tablets {
        justify-content: flex-start
    }

    @include phones{
        height: auto;
    }
}
