.main-section{
    background: url("~images/main-bg.jpg") top center / cover no-repeat;

    @include tablets {
        background: url("~images/main-bg.jpg") 51% top / 1380px no-repeat;
    }

    @include phones {
        background: url("~images/main-bg.jpg") 72% top / cover no-repeat;
    }
}