.middle-section{
    position: relative;
    z-index: 2;
}

.middle-section__triangles-top{
    top: -97px;
    position: absolute;
    width: 100%;
    
    @include tablets{
        top: -59px;
    }
}
