.section-reviews{
    padding: 225px 0 200px;
    background: url('~images/reviews-gb.jpg') no-repeat 37% 22%;
    background-size: cover;

    .container{
        @include tablets{
            padding: 0
        }

        @include phones{
            padding: 0 15px
        }
    }

    @include phones{
        padding: 120px 0 60px;
        background-position: 59% 22%
    }
}