.social-icon{
    width: 25px;
    fill: $dark
}

.socials{
    display: flex;
    align-items: center;
}

.socials__item{
    margin-right: 35px;

    &:last-child{
        margin-right: 0;
    }
}

.socials__link{
    display: block;
    &:hover{
        opacity: .5
    }

    &:active{
        transform: translate(0,1px)
    }
}