.tags{
    display: flex;
    margin-bottom: 35px;
}

.tags__item{
    margin-right: 8px;
}

.tag{
    height: 48px;
    background: #F3F6F9;
    padding: 0 22px;
    border-radius: 24px;
    line-height: 48px;
    font-weight: 15px;
    color: rgba($dark, .8);
    font-weight: 600
}