.triangles{
    display: flex;
    height: 100px;

    &--pointed-down{
        .triangles__shape{
            transform: rotate(180deg)
        }
    }
}

.triangles__shape{
    width: 50%;
    fill: #ffffff;
    height: 100px;
}

.middle-section__triangles-bottom{
    bottom: -97px;
    position: absolute;
    width: 100%
}