.user__avatar{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.user__avatar-wrapp{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden
}

.user__table{
    width: 100%;
    font-weight: 600;

    td{
        padding: 3px 0 12px;
    }
}

.user__table-title{
    width: 50%;
    color: rgba($dark, .5);
}

.user__table-content{
    width: 50%;
}