.values__title-text{
    font-size: 30px;
    font-weight: 700;
    color: $dark;
    margin-bottom: 50px
}

.values__content{
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    max-width: 600px;
}

.values__container{
    display: flex;
    padding: 145px 0;
    justify-content: flex-end;
}

.values__inner{
    width: 64%;
}

.values{
    background: url("~images/content/bag.png") no-repeat 9% 62%;
}

.values__title{
    margin-bottom: 75px
}