.headline-component{
    background: #43436B;
    height: 80px;
    color: #fff;
    .container{
        display: flex;
        align-items: center;
        height: 80px;
        column-gap: 15px;
    }
    
}

.btns{
    margin-left: auto
}

.title{
    font-size: 14px;
    color: rgba(white,0.5)
}

.logout{
    color: rgba(white, .9);
    font-size: 14px;
    text-decoration: underline
}