.login-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../../images/admin-bg.jpg);
    height: 100vh;
}

.form{
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 5px rgb(0,0,0,0.1);
    width: 500px;
    max-width: 100%
}

.form-title{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 50px
}

.form-row{
    margin-bottom: 40px
}

.btn{
    text-align: center
}