*{
    outline: none;
}
.header{
    display: flex;
    margin-bottom: 55px
}

.title{
    color:#414C63;
    font-size: 21px;
    font-weight: 700;
    margin-right: 55px
}

.page-content{
    padding: 55px 0 20px;
    background: url(../images/admin-bg.jpg) no-repeat bottom center;
    background-size: cover;
    min-height: 100vh;
}

.skills{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item{
    width: calc(100% / 2 - 12px);
    margin-bottom: 25px;
}